html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(
    to right,
    rgba(102, 126, 234, 1),
    rgba(118, 75, 162, 1)
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
